<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
    <header>
        <div class="header-wrapper">
            <div class="header-brand">Ievgeniia Abdulina</div>
            <nav class="menu">
                <ul class="menu-items">
                    <li class="menu-item"><a href="../../public/index.html" class="menu-link active-menu">Projects</a>
                    </li>
                    <li class="menu-item"><a href="../components/resume.html" class="menu-link">Resume</a></li>
                    <li class="menu-item"><a href="../components/contacts.html" class="menu-link">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="contact-container">
            <div class="form">Form</div>
            <div class="social-links">links</div>
        </div>
    </main>

</body>

</html>