<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-compatible" content="IE=edge, chrome=1">

    <meta name="description" content="Ievgeniia Abdulina's portfolio">
    <meta name="author" content="Ievgeniia Abdulina">
    <meta name="location" content="Wroclaw, Poland">
    <meta name="theme-color" content="#fff">
    <title>Resume</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./images/ic-head-32.png">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
    <header>
        <div class="header-wrapper">
            <div class="header-brand">Ievgeniia Abdulina</div>
            <nav class="menu">
                <ul class="menu-items">
                    <li class="menu-item"><a href="../../public/index.html" class="menu-link active-menu">Projects</a>
                    </li>
                    <li class="menu-item"><a href="../components/resume.html" class="menu-link">Resume</a></li>
                    <li class="menu-item"><a href="../components/contacts.html" class="menu-link">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="resume-container">
        <h1 class="resume-title">Resume</h1>
        <div class="resume-content">

            <div class="resume-section">
                <h1 class="section-title">Courses</h1>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Oct 2019 - Jan 2020</h2>
                        <h3 class="subtitle">Wroclaw, Poland</h3>
                        <p class="content">Web Programming Course
                            CodersCamp</p>
                    </div>
                </div>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Oct 2018 - Mar 2020</h2>
                        <h3 class="subtitle">Wroclaw, Poland</h3>
                        <p class="content">English Language School</p>
                    </div>
                </div>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Sep 2004 – Jun 2011</h2>
                        <h3 class="subtitle">Kharkiv, Ukraine</h3>
                        <p class="content">The Kharkiv State Technical
                            University of Building and
                            Architecture
                            Master of Architecture (M.Arch.),
                            Architecture</p>
                    </div>
                </div>
            </div>

            <div class="resume-section">
                <h1 class="section-title">Experience</h1>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Oct 2019 - Jan 2020</h2>
                        <h3 class="subtitle">CodersCamp, Wroclaw, Poland</h3>
                        <p class="content">UX/UI Designer Frontend Developer</p>
                    </div>
                </div>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Jan 2015 - present</h2>
                        <h3 class="subtitle">Self-employment</h3>
                        <p class="content">Illustrator</p>
                    </div>
                </div>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Apr 2014 - Oct 2014</h2>
                        <h3 class="subtitle">“Artelogic” - Lviv, Ukraine</h3>
                        <p class="content">Web Designer</p>
                    </div>
                </div>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Oct 2013 - May 2014</h2>
                        <h3 class="subtitle">“2EVENT” - Lviv, Ukraine</h3>
                        <p class="content">Web Designer</p>
                    </div>
                </div>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Oct 2011 - May 2013</h2>
                        <h3 class="subtitle">Kyiv, Ukraine</h3>
                        <p class="content">Architect</p>
                    </div>
                </div>
            </div>

            <div class="resume-section">
                <h1 class="section-title">Skills</h1>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Graphic Design</h2>
                        <p class="content">Illustrator Photoshop
                            Figma AdobeXD</p>
                    </div>
                </div>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <h2 class="title">Front-end</h2>
                        <p class="content">HTML CSS JavaScript
                            React Redux
                            npm Git GitHub
                            Node.js MongoDB</p>
                    </div>
                </div>
            </div>

            <div class="resume-section">
                <h1 class="section-title">Languages</h1>

                <div class="section-content">
                    <div class="divider-vertical"></div>

                    <div class="section-body">
                        <p class="content">English B2
                            Polish B2
                            Ukrainian C2
                            Russian C2</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>