<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>

<body>
    <main>
        <h1 class="resume-title">Resume</h1>
        <div class="resume-content">
            <div class="resume-section">
                <h1 class="section-title">Courses</h1>
                <div class="section-content">
                    <h2 class="title">Title</h2>
                    <h3 class="subtitle">Subtitle</h3>
                    <p class="content">Content</p>
                </div>
            </div>
            <div class="resume-section">
                <h1 class="section-title">Experience</h1>
                <div class="section-content">
                    <h2 class="title">Title</h2>
                    <h3 class="subtitle">Subtitle</h3>
                    <p class="content">Content</p>
                </div>
            </div>
            <div class="resume-section">
                <h1 class="section-title">Skills</h1>
                <div class="section-content">
                    <h2 class="title">Title</h2>
                    <h3 class="subtitle">Subtitle</h3>
                    <p class="content">Content</p>
                </div>
            </div>
            <div class="resume-section">
                <h1 class="section-title">Languages</h1>
                <div class="section-content">
                    <h2 class="title">Title</h2>
                    <h3 class="subtitle">Subtitle</h3>
                    <p class="content">Content</p>
                </div>
            </div>
            <div class="resume-section">
                <h1 class="section-title">Interests</h1>
                <div class="section-content">
                    <h2 class="title">Title</h2>
                    <h3 class="subtitle">Subtitle</h3>
                    <p class="content">Content</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>