<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash Screen</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700;900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/splashscreen.css">
</head>

<body>
    <div class="container">
        <h1>Ievgeniia</h1>
        <h1>Abdulina</h1>
        <h3>Ux/Ui Designer & Frontend Developer</h3>
    </div>
</body>

</html>