.resume-container {
  display: block;
  margin: 5vw 8.3vw;
  padding: 0 20px;
}

.resume-title h1 {
  font-family: var(--resume-title-font-family);
  font-weight: var(--resume-title-font-weight);
  font-size: var(--resume-title-font-size);
  color: var(--resume-title-font-color);
}

.section-title {
  font-family: var(--resume-title-font-family);
  font-weight: var(--resume-title-font-weight);
  font-size: 2rem;
  color: var(--resume-title-font-color);
}

.section-body h2,
h3 {
  font-weight: var(--resume-title-font-weight);
  font-size: var(--resume-section-font-size);
}

.section-body {
  font-family: var(--resume-section-font-family);
  font-weight: var(--resume-section-font-weight);
  font-size: var(--resume-section-font-size);
  color: var(--resume-section-font-color);
}

.resume-content {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}

.resume-section {
  display: flex;
  flex-direction: column;
  flex: 4;
  padding-right: 4vw;
}

.section-content {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 20px 0;
}

.divider-vertical {
  height: 100%;
  margin-right: 10px;
  background-color: var(--resume-divider-color);
  border: solid 2px var(--resume-divider-color);
}
