<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-end Development</title>
</head>

<body>
    <div class="project" id="front-end">
        <div class="left-content">
            <div class="project-title">
                <h1 class="title-1">Front-end</h1>
                <h1 class="title-2">Dev</h1>
            </div>
            <div class="project-description">
                <p>Projects have been created in group work during the <a href="https://coderscamp.edu.pl/"
                        target="_blank"><strong class="coderscamp">CodersCamp</strong></a> bootcamp</p>
                <p>UI Design & Front-end</p>
            </div>
        </div>
        <div class="right-content">
            <div class="project-img"></div>
        </div>
    </div>
</body>

</html>