<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Space - plant care application</title>
</head>

<body>
    <div class="project" id="green-space">
        <div class="left-content">
            <div class="project-title">
                <h1 class="title-1">Green</h1>
                <h1 class="title-2">Space</h1>
            </div>
            <div class="project-description">
                <p>Plant care mobile application.</p>
                <p>UX/UI Design</p>
            </div>
        </div>
        <div class="right-content">
            <div class="project-img"></div>
        </div>
    </div>
</body>

</html>