li,
a {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: var(--header-font-size);
  letter-spacing: var(--header-letter-spacing);
  color: var(--header-font-color);
  text-decoration: none;
  text-transform: uppercase;
}

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px;
}

.header-brand {
  cursor: pointer;
  text-transform: uppercase;
  margin-right: auto;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: var(--header-font-size);
  letter-spacing: var(--header-letter-spacing);
  color: var(--header-font-color);
}

.menu-items {
  list-style: none;
}

.menu-items li {
  display: inline-block;
  padding: 0 20px;
}

.menu-items li a {
  transition: all 0.3s ease 0s;
}

.menu-items li a:hover {
  color: var(--header-item-hover-color);
}
