@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700;900");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900");

:root {
  --splash-font-family: "Kanit", sans-serif;
  --splash-font-size: 6rem;
  --splash-font-weight: 900;
  --splash-letter-spacing: 0.25em;
  --splash-line-height: 1.2;
  --splash-font-color: #fff;
  --splash-bg-color: #b3ddd1;

  --header-font-family: "Poppins", sans-serif;
  --header-font-weight: 700;
  --header-font-size: 0.9em;
  --header-font-color: #b0bcb8;
  --header-item-hover-color: #f8876f;

  --main-bg-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.splash-screen {
  background-color: var(--splash-bg-color);
}

.splash-content {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

span.splash-title {
  font-family: var(--splash-font-family);
  font-weight: var(--splash-font-weight);
  font-size: var(--splash-font-size);
  text-transform: uppercase;
  letter-spacing: var(--splash-letter-spacing);
  line-height: var(--splash-line-height);
  color: var(--splash-font-color);
}

span.splash-subtitle {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
}

li,
a {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: var(--header-font-size);
  color: var(--header-font-color);
  text-decoration: none;
  text-transform: uppercase;
}

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  border: solid red;
}

.header-brand {
  cursor: pointer;
  margin-right: auto;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: var(--header-font-size);
  color: var(--header-font-color);
}

.menu-items {
  list-style: none;
}

.menu-items li {
  display: inline-block;
  padding: 0 20px;
}

.menu-items li a {
  transition: all 0.3s ease 0s;
}

.menu-items li a:hover {
  color: var(--header-item-hover-color);
}
